| The Detroit farm map is an open source collaboration project to map all the urban farms and gardens in the Detroit metro area.
| If you know of a farm or garden that needs to be on this map or have questions/comments shoot us an email at 
a(href='mailto:info@farmmap.us') info@farmmap.us
hr
|If you are interested in setting up a similar map in your area let us know, we would love to help out!  
|Source code is avaible 
a(href='https://github.com/wanderer/Detroit-Farm-Map', target='_blank') here
hr
a(href='bitcoin:1LW5fuyfrwwpXeVDFVf6eHr95ei79bFktF?label=detroit%20farm%20map') Click here to donate with Bitcoins  
br
|If clicking on the line above does not work, use this address:
br
code 1LW5fuyfrwwpXeVDFVf6eHr95ei79bFktF
